* {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/back.jpg);
  background-attachment: fixed;
}

h1,
h2,
h3 {
  color: #732c02;
}

section article p {
  color: #732c02;
  font-size: 1.8rem;
  font-weight: 1rem; /* peso tipográfico */
  line-height: 2.4rem; /* interlineado */
}


/* clases camelCase  */

.textDestacado {
  background-color: rgba(255, 252, 0, 0.4);
}

.textBold {
  font-weight: 600;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.bgDest {
  background-color: #bf9075;
}

.bgGen {
  background-color: #f28705;
}

.bgGrad {
  background: rgb(242,135,5);
  background: linear-gradient(0deg, rgba(242,135,5,1) 0%, rgba(0,0,0,1) 65%);
}

/* BEM */

.hero__img--fluid {
  width: 100%; /*ancho*/
}
.coop__box--white {
  text-align: center;
  background-color: white;
  /*padding*/
  padding: 10px 0;
}
.coop__texto--md {
  font-size: 1.7rem;
}

.coop__titulo--xl {
  font-size: 3rem;
}

.coop__titulo--md {
  font-size: 2rem;
}

/* camelCase  */

.textBold {
  font-weight: 600;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.coop__articulo {
  width: 95%; /*ancho*/
  height: auto; /*alto*/
  overflow-y: hidden;
  margin: 10px auto; /*margen arriba/abajo... margen derecha/izquierda*/
  padding: 20px 30px; /*relleno arriba/abajo... margen derecha/izquierda*/
  box-sizing: border-box; /*resta al width los atributos de caja */
  border: solid 2px #732c02;
}

/* Formulario y Mapa*/
.hero {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.mapMargen {
  margin: 20px 20px;
}

.mapa2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

.foot {
  padding: 10px 0;
  margin: 20px auto;
  display: flex;
  justify-content: center;  
}

.foot a {
  text-decoration: none;
  margin: 20px;
}

.foot__icon--sm {
  width: 40px;
}

.foot__titulo--md {
  font-size: 2rem;
  margin-left: 50px;
  display: none;
}

.footer {
  background: rgb(242,135,5);
  background: linear-gradient(180deg, rgba(242,135,5,1) 0%, rgba(0,0,0,1) 98%);
}

.sectionContacto {
  display: flex;
  justify-content: center;
}


/*            Animaciones             */

.rotar:hover {
  transform: rotateY(360deg);
  transition: transform 5s;
}

@keyframes redes {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.animation:hover {
  animation-name: redes;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

.burger:hover { 
  transform: rotateZ(3deg);
  transition: transform 2s;
  cursor: pointer;
}

@keyframes nosotros {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.aninos { 
   animation-name: nosotros;
   animation-duration: 1s;
   animation-timing-function: ease;
   animation animation-delay: 3s;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: both;

 }

 .btn-coop {
    color: #fff;
    background-color: #732c02;
  }

  .accordion-coop {
  background-color: #f28705;
  border: $accordion-border-width solid $accordion
}


    