//variables globales

$mainColor: #f28705;
$secondColor: #732c02;
$gradColor: linear-gradient(0deg, rgba(242,135,5,1) 0%, rgba(0,0,0,1) 65%);

//sizing

$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:20%;

