//variables globales

$mainColor: #f5ebdc;
$secondColor: #502314;
$thirdColor: #782d14;
$gradColor: linear-gradient(0deg, rgba(242,135,5,1) 0%, rgba(0,0,0,1) 65%);

//sizing

$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:20%;

//mixin

@mixin maintext(){
	font-size:$textSm;
	text-align: center;
}

@mixin h1(){
	color:$secondColor;
	text-align: center;
	font-size: $textLg;
	font-weight: 600;
}

@mixin foot($padding,$margin-top){
	padding:$padding;
    margin-top:$margin-top;
    display: flex;
    justify-content: center;
    background: $mainColor;
}

@mixin form(){
	border-radius: 10px;
	box-shadow: 0px 8px 5px -3px rgba(156,156,156,0.83);
	-webkit-box-shadow: 0px 8px 5px -3px rgba(156,156,156,0.83);
	-moz-box-shadow: 0px 8px 5px -3px rgba(156,156,156,0.83);
}


// map

$borde:(
	'brd1':2px solid $secondColor,
	'brd2':3px solid $secondColor,
	'brd3':4px solid $secondColor,
)