// index.html

.main{
	background-color: #f5ebdc;
	overflow-x: hidden;	

}

#leyenda{
	background-color:whitesmoke;
	width: 95%;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
	padding: 10px 20px;
	box-sizing: border-box;
	border:map-get($map:$borde,$key:'brd2');
	justify-content: center;
	h1{
		@include h1();
	}
	p{
		@include maintext();
	}
	span{
		font-weight: 600;
		color: #732c02
	}

}

// cards

.card{
	font-size: $textSm;
	text-align: center;
	background-color: white;
	@include form();
	
}

#formu{
	font-size: $textSm;
	padding-left: 10px;
	margin-left: 10px;
	margin-right: 10px;
	overflow:hidden;
	background-color:white;
	border:map-get($map:$borde,$key:'brd1');
	@include form();
}

#map{
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
	overflow:hidden;
	background-color:white;
	border:map-get($map:$borde,$key:'brd1');
	@include form();
}


//menu.html

.bgGen {
  background-color: whitesmoke;
}

.btn-coop {
    color: #fff;
    background-color: #732c02;
    
  }

// promo.html

.imgFluid {
  width: 100%;
}

//nosotros.html

.nosotros{
	background-color:whitesmoke;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
	padding: 10px 20px;
	box-sizing: border-box;
	border:map-get($map:$borde,$key:'brd2');
	justify-content: center;
	h1{
		@include h1();
	}
	p{
		@include maintext();
	}
	span{
		font-weight: 600;
		color: #732c02
	}
}

// contacto.html

.accordion-coop {
  background-color: white;
  
}

.accordion-button {
   	font-weight: 600;
		font-size: 1.5rem;
    color: white;    
    background-color: $secondColor;
    &:not(.collapsed) {
    	font-weight: 600;
			font-size: $textSm;
    	color: white;
    	background-color: $thirdColor;
   
	}
   
}
.contacto{
	display: flex;
	background-color: $mainColor;
	justify-content: center;
	padding-bottom: 10px;
	@include h1();

}

