//extend

.footer{
  ul{
    text-decoration: none;
    font-size: 1.5rem;
    list-style: none;
    font-weight: 600;
    vertical-align: middle;
    a{
      color: white
    }
  }
    @include foot(10px,20px);
    @extend .footer;      
      background: $secondColor;
      h2,h3{
        font-size: 2rem;
        margin-left: 50px;
        display: none;
      }
        a{
            text-decoration: none;
            margin: 20px;        
        }

}