//nesting

.botonera{
	background-color:$mainColor;
	font-family:$fontMain;	
	ul{
		li{
			a{
				font-size:$textMd;
				font-weight: 600;				
			}
		}
	}
	
}
.navbar-light .navbar-nav .nav-link {
    color: $secondColor;
}